In [1]:
import pandas as pd
import random
import csv
import pprint
random.seed(10)

In [2]:
# source: https://stackoverflow.com/questions/5552555/unicodedecodeerror-invalid-continuation-byte
PISA_raw_df = pd.read_csv('pisa2012.csv', encoding = 'latin-1')

D:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (15,16,17,21,22,23,24,25,26,30,31,36,37,45,65,123,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,475) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#### Create test small sample file

In [21]:
PISA_1000th_df = PISA_raw_df.sample(round(len(PISA_raw_df)/1000));
PISA_1000th_df.to_csv('pisa2012_1000th.csv', encoding = 'latin-1')

#### Selecting needed columns

In [22]:
PISA_int_df = PISA_raw_df.loc[:,['STIDSTD','NC', 'OECD','ST04Q01',
                                 'ST26Q01', 'ST26Q02', 'ST26Q03', 'ST26Q04',
                                 'ST26Q05', 'ST26Q06', 'ST26Q07', 'ST26Q08', 'ST26Q09',
                                 'ST26Q10', 'ST26Q11', 'ST26Q12', 'ST26Q13', 'ST26Q14',
                                 'ST43Q03', 
                             'ST57Q01','ST57Q02','ST57Q03','ST57Q04','ST57Q05',
                             'PV1MATH','PV2MATH','PV3MATH','PV4MATH','PV5MATH',
                             'PV1READ','PV2READ','PV3READ','PV4READ','PV5READ',
                             'PV1SCIE','PV2SCIE','PV3SCIE','PV4SCIE','PV5SCIE',
                             'W_FSTUWT']]

In [21]:
PISA_int_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485490 entries, 0 to 485489
Data columns (total 40 columns):
STIDSTD     485490 non-null int64
NC          485490 non-null object
OECD        485490 non-null object
ST04Q01     485490 non-null object
ST26Q01     473079 non-null object
ST26Q02     469693 non-null object
ST26Q03     472020 non-null object
ST26Q04     473877 non-null object
ST26Q05     463178 non-null object
ST26Q06     473182 non-null object
ST26Q07     465860 non-null object
ST26Q08     467094 non-null object
ST26Q09     467249 non-null object
ST26Q10     471242 non-null object
ST26Q11     463566 non-null object
ST26Q12     474039 non-null object
ST26Q13     469115 non-null object
ST26Q14     474076 non-null object
ST43Q03     313494 non-null object
ST57Q01     301367 non-null float64
ST57Q02     269808 non-null float64
ST57Q03     283813 non-null float64
ST57Q04     279657 non-null float64
ST57Q05     289502 non-null float64
PV1MATH     485490 non-null float64
PV2MATH     485490 non-null float64
PV3MATH     485490 non-null float64
PV4MATH     485490 non-null float64
PV5MATH     485490 non-null float64
PV1READ     485490 non-null float64
PV2READ     485490 non-null float64
PV3READ     485490 non-null float64
PV4READ     485490 non-null float64
PV5READ     485490 non-null float64
PV1SCIE     485490 non-null float64
PV2SCIE     485490 non-null float64
PV3SCIE     485490 non-null float64
PV4SCIE     485490 non-null float64
PV5SCIE     485490 non-null float64
W_FSTUWT    485490 non-null float64
dtypes: float64(21), int64(1), object(18)
memory usage: 148.2+ MB

In [23]:
# source: https://stackoverflow.com/questions/38313770/count-the-number-of-specific-values-in-a-pandas-dataframe
# Create Number of Possession column
PISA_int_df['Possessions'] = (PISA_int_df.iloc[:,3:16] == 'Yes').sum(axis=1)

In [5]:
PISA_int_df.head()

,STIDSTD,NC,OECD,ST04Q01,ST26Q01,ST26Q02,ST26Q03,ST26Q04,ST26Q05,ST26Q06,...,PV3READ,PV4READ,PV5READ,PV1SCIE,PV2SCIE,PV3SCIE,PV4SCIE,PV5SCIE,W_FSTUWT,Possessions
0,1,Albania,Non-OECD,Female,Yes,No,Yes,No,No,No,...,406.8496,175.7053,218.5981,341.7009,408.8400,348.2283,367.8105,392.9877,8.9096,5
1,2,Albania,Non-OECD,Female,Yes,Yes,Yes,Yes,Yes,Yes,...,400.7334,369.7553,396.7618,548.9929,471.5964,471.5964,443.6218,454.8116,8.9096,12
2,3,Albania,Non-OECD,Female,Yes,Yes,Yes,Yes,No,Yes,...,387.7067,431.3938,401.2100,499.6643,428.7952,492.2044,512.7191,499.6643,8.4871,10
3,4,Albania,Non-OECD,Female,Yes,Yes,Yes,Yes,Yes,Yes,...,461.5776,425.0393,471.9036,438.6796,481.5740,448.9370,474.1141,426.5573,8.4871,11
4,5,Albania,Non-OECD,Female,Yes,Yes,No,Yes,Yes,Yes,...,293.5015,272.8495,260.1405,361.5628,275.7740,372.7527,403.5248,422.1746,8.4871,10

In [24]:
PISA_int_df['NC'][PISA_int_df['NC']=='Republic of Serbia'] = 'Serbia'
PISA_int_df['NC'][PISA_int_df['NC']=='Slovak Republic'] = 'Slovakia'
PISA_int_df['NC'][PISA_int_df['NC']=='Chinese Taipei '] = 'Taiwan'
PISA_int_df['NC'][PISA_int_df['NC']=='Perm (Russian Federation)'] = 'Russia'
PISA_int_df['NC'][PISA_int_df['NC']=='Hong Kong-China'] = 'China'
PISA_int_df['NC'][PISA_int_df['NC']=='China (Shanghai) '] = 'China'
PISA_int_df['NC'][PISA_int_df['NC']=='China-Macau'] = 'China'
PISA_int_df['NC'][PISA_int_df['NC']=='Macao-China'] = 'China'
PISA_int_df['NC'][PISA_int_df['NC']=='Connecticut (USA)'] = 'United States of America'
PISA_int_df['NC'][PISA_int_df['NC']=='Florida (USA)'] = 'United States of America'
PISA_int_df['NC'][PISA_int_df['NC']=='Massachusetts (USA)'] = 'United States of America'

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [34]:
PISA_int_df['OECD'][PISA_int_df['NC']=='United States of America '] = 'OECD'

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [35]:
PISA_int_df[PISA_int_df.index==407216]

,STIDSTD,NC,OECD,ST04Q01,ST26Q01,ST26Q02,ST26Q03,ST26Q04,ST26Q05,ST26Q06,...,PV3READ,PV4READ,PV5READ,PV1SCIE,PV2SCIE,PV3SCIE,PV4SCIE,PV5SCIE,W_FSTUWT,Possessions
407216,62,United States of America,OECD,Female,NaN,NaN,NaN,NaN,NaN,NaN,...,414.6338,364.5923,374.9183,452.8534,436.0686,452.8534,429.5412,460.3133,121.6681,0

In [36]:
PISA_int_df = PISA_int_df.rename(columns={'NC':'Country','ST04Q01':'Gender',
                                          'ST26Q02':'Own Room','ST43Q03':'Family Demands and Problems'});

In [37]:
PISA_int_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485490 entries, 0 to 485489
Data columns (total 41 columns):
STIDSTD                        485490 non-null int64
Country                        485490 non-null object
OECD                           485490 non-null object
Gender                         485490 non-null object
ST26Q01                        473079 non-null object
Own Room                       469693 non-null object
ST26Q03                        472020 non-null object
ST26Q04                        473877 non-null object
ST26Q05                        463178 non-null object
ST26Q06                        473182 non-null object
ST26Q07                        465860 non-null object
ST26Q08                        467094 non-null object
ST26Q09                        467249 non-null object
ST26Q10                        471242 non-null object
ST26Q11                        463566 non-null object
ST26Q12                        474039 non-null object
ST26Q13                        469115 non-null object
ST26Q14                        474076 non-null object
Family Demands and Problems    313494 non-null object
ST57Q01                        301367 non-null float64
ST57Q02                        269808 non-null float64
ST57Q03                        283813 non-null float64
ST57Q04                        279657 non-null float64
ST57Q05                        289502 non-null float64
PV1MATH                        485490 non-null float64
PV2MATH                        485490 non-null float64
PV3MATH                        485490 non-null float64
PV4MATH                        485490 non-null float64
PV5MATH                        485490 non-null float64
PV1READ                        485490 non-null float64
PV2READ                        485490 non-null float64
PV3READ                        485490 non-null float64
PV4READ                        485490 non-null float64
PV5READ                        485490 non-null float64
PV1SCIE                        485490 non-null float64
PV2SCIE                        485490 non-null float64
PV3SCIE                        485490 non-null float64
PV4SCIE                        485490 non-null float64
PV5SCIE                        485490 non-null float64
W_FSTUWT                       485490 non-null float64
Possessions                    485490 non-null int64
dtypes: float64(21), int64(2), object(18)
memory usage: 151.9+ MB

In [38]:
PISA_int_df['Study Time'] = (PISA_int_df['ST57Q01'] + PISA_int_df['ST57Q02'] +
                             PISA_int_df['ST57Q03'] + PISA_int_df['ST57Q04'] + PISA_int_df['ST57Q05'])

In [39]:
PISA_int_df['MathAvg'] = (PISA_int_df['PV1MATH'] + PISA_int_df['PV2MATH']+ 
                          PISA_int_df['PV3MATH'] + PISA_int_df['PV4MATH'] + PISA_int_df['PV5MATH'])/5
PISA_int_df['ReadAvg'] = (PISA_int_df['PV1READ'] + PISA_int_df['PV2READ']+ 
                          PISA_int_df['PV3READ'] + PISA_int_df['PV4READ'] + PISA_int_df['PV5READ'])/5
PISA_int_df['ScieAvg'] = (PISA_int_df['PV1SCIE'] + PISA_int_df['PV2SCIE']+ 
                          PISA_int_df['PV3SCIE'] + PISA_int_df['PV4SCIE'] + PISA_int_df['PV5SCIE'])/5

In [40]:
PISA_df = PISA_int_df.loc[:,['STIDSTD','Country', 'OECD', 'Gender','Own Room', 'Possessions', 'Family Demands and Problems',
                            'Study Time', 'MathAvg', 'ReadAvg', 'ScieAvg',  'W_FSTUWT']]

In [41]:
PISA_int_df.to_csv('PISA2012_int_processed.csv')
PISA_df.to_csv('PISA2012_processed.csv')

#### Drop NA

In [52]:
PISA_NA_df = PISA_df.dropna()

In [53]:
PISA_NA_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118532 entries, 13 to 485482
Data columns (total 10 columns):
STIDSTD                        118532 non-null int64
Country                        118532 non-null object
Gender                         118532 non-null object
Own Room                       118532 non-null object
Family Demands and Problems    118532 non-null object
Study Time                     118532 non-null float64
MathAvg                        118532 non-null float64
ReadAvg                        118532 non-null float64
ScieAvg                        118532 non-null float64
W_FSTUWT                       118532 non-null float64
dtypes: float64(5), int64(1), object(4)
memory usage: 9.9+ MB

In [54]:
PISA_NA_df.to_csv('PISA2012_dropna_processed.csv')